*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background: #FAF8ED;
}
.body_center{
    margin:auto 135px;
    background:#FAF8ED;
}
.head{
    padding-top:24px;
    margin-bottom: 113px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap:36px;
}
.navigation a{
    margin-right: 34px;
    padding: 0 3px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #2E476B;
}

.book_now{
    margin-left:300px;
    align-items: center;
    border: 2px solid #F66F4D;
    border-radius: 27px;
    padding:19px 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #F66F4D;
}
.book_now img{
    padding-left: 6px;
}
.title_nav{
    text-align: center;
    margin-bottom: 51px;
}
.title{
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 66px;
    color: #2D3134;
    margin-bottom: 16px;
}
.title_text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #5B5F62;
    margin-bottom: 28px;
}
.city_nav{
    display: flex;
    justify-content: center;
    gap:14px;
}
.city_nav a{
    padding: 10px 20px;
    border: 1px solid #3D3D3D;
    border-radius: 30px;
    color:#2D3134;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}
.black_nav{
    background-color: #2D3134;
}
.first_child_a{
    color:#FFF;
}
.pictures_3_5_1,
.pictures_3_5_2{
    padding: 5px 10px;
    border-radius: 12px;
    background: #FFF;
    width: 42px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}
.pictures_3_5_1{
    position: absolute;
    left: 159px;
    top: 422px;
}
.pictures_3_5_2{
    position: absolute;
    left: 159px;
    top: 685px;
}
.pictures_3_5_3,
.pictures_3_5_4,
.pictures_3_5_5,
.pictures_3_5_6{
    padding: 5px 10px;
    border-radius: 12px;
    background: #2D3134;
    width: 42px;
    height: 24px;
    color:#FFF;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}
.pictures_3_5_3{
    position: absolute;
    left: 459px;
    top: 422px;
}
.pictures_3_5_4{
    position: absolute;
    left: 869px;
    top: 422px;
}
.pictures_3_5_5{
    position: absolute;
    left: 869px;
    top: 685px;
}
.pictures_3_5_6{
    position: absolute;
    left: 1059px;
    top: 685px;
}
.pictures_vientam_1,
.pictures_vientam_2,
.pictures_vientam_3,
.pictures_vientam_4,
.pictures_vientam_5,
.pictures_vientam_6{
    color: #FFF;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    pad
}
.pictures_vientam_1 p,
.pictures_vientam_2 p,
.pictures_vientam_3 p,
.pictures_vientam_4 p,
.pictures_vientam_5 p,
.pictures_vientam_6 p{
    padding-bottom: 10px;
}
.pictures_vientam_1{
    position: absolute;
    width: 81px;
    height: 20px;
    left: 159px;
    top: 565px;
}
.pictures_vientam_2{
    position: absolute;
    width: 81px;
    height: 20px;
    left: 159px;
    top: 836px;
}
.pictures_vientam_3{
    position: absolute;
    width: 81px;
    height: 20px;
    left: 459px;
    top: 836px;
}
.pictures_vientam_4{
    position: absolute;
    width: 81px;
    height: 20px;
    left: 869px;
    top: 565px;
}
.pictures_vientam_5{
    position: absolute;
    width: 81px;
    height: 20px;
    left: 869px;
    top: 836px;
}
.pictures_vientam_6{
    position: absolute;
    width: 81px;
    height: 20px;
    left: 1059px;
    top: 836px;
}
.card{
    height:526px;
    margin-bottom: 150px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:13px 30px;
    grid-template-areas: 
    "picture1 picture3 picture4 picture4"
    "picture2 picture3 picture5 picture6";
}
.card_first{
    grid-area: picture1;
    /*background: linear-gradient(180deg, rgba(30, 30, 28, 0) 62%, rgba(20, 20, 18, 0.9) 100%), url(image.png);*/
    border-radius: 20px;
    width:100%;
    height:100%;
    object-fit: cover;

}
.card_second{
    grid-area: picture2;
    /*background: linear-gradient(180deg, rgba(54, 53, 48, 0) 64.7%, rgba(0, 0, 0, 0.9) 100%), url(image);*/
    border-radius: 20px;
    width:100%;
    height:100%;
    object-fit:cover;
}
.card_three{
    grid-area: picture3;
    /*background: linear-gradient(180deg, rgba(54, 53, 48, 0) 64.7%, rgba(0, 0, 0, 0.9) 100%), url(image);*/
    border-radius: 20px;
    width:100%;
    height:100%;
    object-fit: cover;
}
.card_four{
    grid-area: picture4;
    /*background: linear-gradient(180deg, rgba(54, 53, 48, 0) 64.7%, rgba(0, 0, 0, 0.9) 100%), url(image);*/
    border-radius: 20px;
    width:100%;
    height:100%;
    object-fit: cover;
}
.card_five{
    grid-area: picture5;
    /*background: linear-gradient(180deg, rgba(54, 53, 48, 0) 64.7%, rgba(0, 0, 0, 0.9) 100%), url(image);*/
    border-radius: 20px;
    width:100%;
    height:100%;
    object-fit: cover;
}
.card_six{
    grid-area: picture6;
    /*background: linear-gradient(180deg, rgba(54, 53, 48, 0) 64.7%, rgba(0, 0, 0, 0.9) 100%), url(image);*/
    border-radius: 20px;
    width:100%;
    height:100%;
    object-fit: cover;
}
.footer{
    width:100%;
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:275px;
}
.footer_logo img{
    margin-bottom: 20px;
}
.footer_logo_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #5B5F62;
}
.footer_nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:113px;
}
.footer_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #2D3134;
    margin-bottom: 22px;
}
.footer_subtittle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #676A6C;
}
  

  